<div class="container-fluid g-0">
  <!--Header-->
  <app-header></app-header>
  <!--Main content-->
  <main>
    <!--add and search toolbar-->
    <div class="toolbar">
     <div class="add-employee">
       <button type="button" class="btn btn-outline-success btn-lg">Add Employee</button>
     </div>
      <div class="search-employees">
        <input type="search" class="form-control" placeholder="">
      </div>
    </div>
    <!--Area to display all the employees-->
    <div class="employees p-3">
      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added!</span>
        </div>
      </div>

    </div>
  </main>
</div>
